@model string
<div class="header">
    <h1 class="font-monospace">@Model</h1>
    <div class="imgBaa justify-content-center">
        <img src="~/Content/Baa Logistica.gif" alt="Logo da Baa" width="100" />
    </div>
</div>
<style>

    .imgBaa img {
        border-radius: 5px;
        margin-bottom: 20px;
    }
</style>