/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.login-container {
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-left: 5px solid #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.login-box {
    width: 80%;
    max-width: 400px;
}

    .login-box h2 {
        text-align: center;
        margin-bottom: 2rem;
        color: #333;
    }

.form-group {
    margin-bottom: 1rem;
}

    .form-group label {
        display: block;
        margin-bottom: 0.3rem;
        font-weight: 600;
    }

    .form-group input {
        width: 100%;
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

.btn {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

    .btn:hover {
        background-color: #0056b3;
    }

@media (max-width: 768px) {
    body {
        justify-content: center;
    }

    .login-container {
        width: 100%;
        height: 100%;
        border-left: none;
        border-top: 5px solid #007bff;
    }
}

.dvContainer {
    background: grey;
    padding: 15px;
    margin: 0 10px 10px 10px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}

.dvContainerDash {
    background: grey;
    padding: 25px;
    margin-left: 240px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    min-height: calc(100vh - 40px);
    transition: margin-left 0.3s ease;
}