<div class="login-container">
    <div class="login-box">
        <h2>Entrar</h2>
        <img src="~/Content/BAA LOGISTICA.png" alt="Baa Logistica Login" />
        <form>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" placeholder="Digite seu e-mail" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" placeholder="Digite sua senha" required>
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
</div>